* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .main-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image img {
    height: 500px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }
  .image {
    height: 80vh;
    position: relative;
  }
  .active img {
    width: 700px;
  }
  @media (max-width: 480px) {
    .main-container {
      width: 100vw;
    }
    .image:nth-of-type(5),
    .image:nth-of-type(6) {
      display: none;
    }
  }
  .active h3 {
    opacity: 1;
  }
  h3 {
    color: white;
    font-size: 16px;
    position: absolute;
    left: 2rem;
    bottom: -1rem;
    opacity: 0;
    transition: opacity 0.3s ease 0.4s;
  }